.select {
    width: 120px;
    position: relative;
    margin-bottom: 10px;

    &__control {
        margin-top: 10px !important;
        cursor: pointer !important;
        max-width: 100% !important;
        min-height: 50px !important;
        border: 1px solid #BFC6F0 !important;
        border-radius: 10px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        user-select: none !important;
        outline: none !important;
        background-color: transparent !important;
        padding: 5px 0 !important;

        &_error {
            border: 1px solid #FF3D3D;
        }
    }

    &__input {
        color: #232323 !important;
        width: 100% !important;

        &-container {
            max-width: max-content !important;
            overflow: hidden;
        }
    }

    &__multi-value {
        background-color: #1D71B8 !important;
        max-width: max-content !important;
        border-radius: 5px !important;

        &__label {
            color: #FFFFFF !important;
        }
    }

    &__single-value {
        font-family: "Roboto", sans-serif !important;
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        color: #232323 !important;
        margin-left: 0 !important;
        //overflow: visible !important;
    }

    &__single-value--is-disabled {
        color: #BFC6F0 !important;
        user-select: text;
    }

    &__control--is-focused {
        outline: none !important;
    }

    &__value-container {
        padding: 0 15px !important;

        &--is-multi {
            display: flex;

            > div {
                max-width: max-content !important;
            }
        }
    }

    &__placeholder {
        font-family: "Roboto", sans-serif !important;
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        color: #BFC6F0 !important;
        margin-left: 0 !important;
    }

    &__dropdown-indicator {
        display: flex !important;
        padding: 0 35px 0 0 !important;
        width: 20px !important;
        height: 20px !important;
        background: url("../img/arrow-down-icon.svg") center no-repeat !important;

        svg {
            display: none !important;
        }
    }

    &__indicator-separator {
        display: none !important;
    }

    &__option {
        cursor: pointer !important;

        &--is-focused {
            background-color: #1D71B8 !important;
            color: #FFFFFF !important;
        }

        &--is-selected {
            background-color: #1D71B8 !important;
            color: #FFFFFF !important;
            font-weight: 700;
        }
    }

    &__menu {
        box-shadow: -4px -4px 15px rgba(0, 0, 0, 0.07), 4px 4px 15px rgba(0, 0, 0, 0.07) !important;
        border-radius: 12px !important;
        overflow: hidden;
        background-color: #FFFFFF !important;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}

.select__control--is-disabled {
    .select__indicator {
        display: none !important;
    }
}

.select__clear-indicator {

}

.css-1pahdxg-control {
    box-shadow: none !important;
}