.input {
    //z-index: 5;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    &_hidden {
        display: none;
    }
}

.autoMargin {
    margin-bottom: 20px;
}

.input_disabled {
    .input__title {
        color: var(--color-wistful-or-dove-gray);
    }
}