.item {
    width: 100%;
    background-color: #F3F6FF;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.right {
    display: flex;
    min-width: max-content;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #232323;
}

.name {
    margin-right: 20px;
    font-size: 18px;
    color: #232323;
}