.item {
    width: 100%;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: all .4s;

    &_small {
        border-radius: 12px;

        .content {
            padding: 8px;
        }

        .logo {
            height: 3vh;
            padding: 0;
            margin-bottom: 5px;
        }

        .title {
            font-size: 80%;
            -webkit-line-clamp: 4;
        }

        .property {
            font-size: 70%;
            margin-bottom: 1%;

            @media (max-width: 2500px) {
                display: none;
            }
        }

        .disabledBg {
            border-radius: 12px;
        }

        .trl {
            width: 18px;
            height: 18px;
            font-size: 8px;
        }

        .trls {
            right: -9px;
            top: -9px;
        }
    }

    &:after {
        content: "";
        padding-top: 100%;
        display: block;
    }

    &_fed {
        border: 2px solid #C00000;
    }

    &_reg {
        border: 2px solid #558ED5;
    }

    &_sci {
        border: 2px solid #92D050;
    }

    &_edu {
        border: 2px solid #00B050;
    }
}

.content {
    position: absolute;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
    z-index: 2;
}

.logo {
    height: 6vh;
    width: 100%;
    padding-right: 30px;
    object-fit: contain;
    object-position: left;
    margin-bottom: 0.5vw;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 0.5vw;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.property {
    font-weight: 300;
    width: 100%;
    font-size: 0.8vw;
    margin-bottom: 0.2vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    span {
        font-weight: 600;
    }
}

.trls {
    position: absolute;
    z-index: 4;
    top: -13px;
    right: -13px;
}

.trl {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: #558ED5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.disabledBg {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;

    background: #FFFFFF;

    border: 1px solid #26358C;
    border-radius: 4px;
    position: absolute;
    padding: 3px;
    z-index: 6;
    top: 15px;
    right: 15px;

    &__dot {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background: #26358C;
    }
}

.link {
    position: absolute;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.deleteBtn {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    z-index: 6;
    top: 15px;
    right: 15px;

    &:hover {
        svg {
            fill: #1D71B8;
        }
    }

    svg {
        transition: .3s;
        fill: #232323;
    }
}