.button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background-color: #1D71B8;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    border: 0;
    max-width: 380px;
    min-width: 160px;
    padding: 0 40px;
    height: 40px;
    user-select: none;

    &:hover {
        background-color: #105086;
    }

    &:active {
        background-color: #073E6D;
    }
}