.filter {
    min-width: 400px;
    width: 400px;
    height: 100%;
    border-radius: 12px;
    margin-left: 10px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #000000;
    margin-bottom: 15px;
    padding: 0 10px;
}

.scrollarea {
    overflow-y: scroll;
    overflow-x: visible;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 295px);
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.07));
    scrollbar-color: #458245 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #C1C1C1;
        border-radius: 10px;
        width: 6px;
        height: 6px;
    }
}

.subjects {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.07), -1px -1px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 240px;
    width: 100%;
    margin: 15px 10px 0 10px;
}

.inputDateWrapper {
    display: flex;
    align-items: center;

    &__label {
        margin-right: 5px;
        font-size: 14px;
        line-height: 12px;
        color: #000000;
    }
}