.warning {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-coral-red);
    box-shadow: 0px 4.5288px 9.95858px rgba(0, 0, 0, 0.0174206);
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-black-or-white);
}

.text {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--color-black-or-white);
}