.label {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    color: var(--color-wistful-or-dove-gray);
    margin-top: 10px;
    width: 100%;
    text-align: center;
}