.event {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

.logo {
    width: 450px;
    height: 95px;
    object-fit: contain;
    object-position: left;
}

.title {
    font-weight: 900;
    font-size: 44px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.info {
    height: 100%;

    &_scrollable {
        padding: 10px;
        overflow-y: scroll;
        scrollbar-color: #458245 transparent;
        scrollbar-width: 4px;


        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #C1C1C1;
            border-radius: 10px;
            width: 4px;
            height: 4px;
        }
    }
}

.infos {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-column-gap: 20px;
    max-height: min-content;
}

.info {}

.dropContent {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    white-space: pre-wrap;
}