.option {
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.01), -1px -1px 10px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.items {
    padding: 15px;
}

.head {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C2C6DF;
    cursor: pointer;
}

.title {
    font-size: 14px;
    color: #26358C;
}

.arrow {
    svg {
        fill: #26358C;
    }
}